[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
mlflow = "*"
xgboost = "*"
scikit-learn = "*"
matplotlib = "*"
pylint = "*"
optuna = "*"
plotly = "==5.3.1"
gputil = "*"
sqlparse = "==0.4.2"

[dev-packages]

[requires]
python_version = "3.7"
